<html>

	<head>
		
		<title>Video Test</title>
		<link rel="stylesheet" href="/screen.css" type="text/css" />
    <script type="text/javascript" src="/jquery.js"></script>
     
		<script>
		
		var circuit = <%= @circuit.to_json %>;
		
		function pauseVideo(){
		  $("#videotag")[0].pause();
		}
		
		function playVideo(){
		  $("#videotag")[0].play();
		}
		
		function videoIsReady(){
		  return $("#videotag")[0].readyState == 4;
		}
		
		function goToTime(time){
		  $("#videotag")[0].currentTime = time;
		}
		
		// JQUERY EVENTS
		
		$(window).load(function(){
			$("#controls :checkbox").change(function(){
				console.log($(this).attr("id") + $(this).attr("checked"));
			});
			
			$("#controls :text").change(function(){
				console.log($(this).attr("id") + $(this).attr("value"));
			});
		});
		
		
 
		</script>
		<script src="/processing-0.9.7.min.js"></script>

	</head>
	
	<body>
		<h2>Circuit <%= @circuit.id %></h2>
		<p>Video URL: <%= @circuit.video_url %></p>
		
		<video id="videotag" class="hvideo" src="<%= @circuit.video_url %>" width="640" height="480">
			your browser does not support the video tag
		</video>
		
		<canvas id="canvastag" datasrc="/processing.js" width="640" height="480"></canvas>
		

		
		<div id="controls">
			<ul>
			<% for component in @circuit.components %>
				<li id="component<%= component.id %>">
					<form>
						<input id="component<%= component.id  %>_name" type="text" name="name" value="<%= component.name %>" />
						<input id="component<%= component.id  %>_display" type="checkbox" checked=1>
					</form>
				</li>
			<% end %>
			</ul>
		</div>
		
	</body>

</html>